body::-webkit-scrollbar {
    display: none;
  }
body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "Rubik", sans-serif;
}
#nav{
float: right;   
padding-right:5vw; 
padding-top:3.5vw;
}
#nav a{
text-decoration:none;
padding-left:2vw;
font-size:1.6vw;
color: rgb(0, 0, 0);
font-family: "Rubik", sans-serif;
font-weight:700;
padding:10px 20px;
border-radius:5px;

transition: 1s;
}
#nav a:hover{
background-color: rgba(0, 0, 0, 0.088);
text-decoration:underline;
}
#logo{
    position: absolute;
    top: 1vw;
    left: 5vw;
}
#main{
    position: absolute;
    width:99%;
    height:170vh;
    border-top:solid white 10px;
    background-color: black;
    margin-top: 13vh;
    margin-left:-0.1vw;
}
#main1{
    position: absolute;
    width:99%;
    height:300vh;
    border-top:solid white 10px;
    background-color: black;
    margin-top: 13vh;
    margin-left:-0.1vw;
}
#main1 iframe{
    padding: 2vh 2vw;
}
#main #img video{
    width:100%;
}
#a-a{
    color: white;
    width: 35vw;
}
#main #head h1{
    margin-top:27vh;
    color: white;
    align-content: center;
    font-family: "Rubik", sans-serif;
    font-size: 6vh;
}
#dp{
    position: absolute;
    top:107vh;
    left:45vw;

}
#end{
    position: absolute;
    width:99%;
    height:20vh;
    border-top:solid white 10px;
    background-color: black;
    margin-top: 184vh;
    margin-left:-0.1vw;
    border-bottom: 10px solid white;
    color: white;
}
#end1{
    position: absolute;
    width:99%;
    height:20vh;
    border-top:solid white 10px;
    background-color: black;
    margin-top: 300vh;
    margin-left:-0.1vw;
    border-bottom: 10px solid white;
    color: white;
}
#end h3{
    text-decoration: none;
    color:white;
    float: right;
    padding-right: 5vw;
    padding-top:9vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#end1 h3{
    text-decoration: none;
    color:white;
    float: right;
    padding-right: 5vw;
    padding-top:9vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#end img{
    background-color: white;
    padding: 5px 5px;
    margin-top: 5vh;
    margin-left: 5vw;
    border-radius: 10px;
}
#end1 img{
    background-color: white;
    padding: 5px 5px;
    margin-top: 5vh;
    margin-left: 5vw;
    border-radius: 10px;
}
#main1 h1{
    margin-top:15vh;
    color: white;
    align-content: center;
    font-family: "Rubik", sans-serif;
    font-size: 10vh;
    text-decoration: underline;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap')
